h1 {
    /* margin: 16px; */
    /* width: 100%; */
    /* text-align: center;
    padding: 10% 30%; */
}

h2 {
    font-size: large;
}


body {
    font-family: "Trirong", serif;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Qwest_Field_North.jpg"); */
    background-repeat: no-repeat;
    background-position: center;

}

.custom-div {
    margin: 20%;
    text-align: center;
    /* background-color:white; */

}

.custom-p {

    font-size: 100px;
}

.panel-heading {
    background-color: rgb(197, 44, 44);
    color: white;
}

.button {
    margin: 10px;
    background-color: rgb(197, 44, 44);
    color: white;
    border: none;
}

#clear-item-btn {
    border-radius: 25%;
}

#instructions {
    font-size: 22px;
}

#player-imgEl {
    transform: scale(150%);
    padding: 23px 36px;
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.1;
    /* Set up positioning */
    position: fixed;
    top: -200px;
    left: 0;
}

/* from Kolby */
* {
    box-sizing: border-box;
}


.hero {
    background-image: url('../../assets/images/image\ 1\ from\ pexels.png');
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30%;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    background-color: aliceblue;
    padding: 20px;
}



.title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    background-color: rgb(188, 24, 24);
    padding: 15px 30px;
    border-radius: 8px;
    width: max-content;
    /* align-items: center; */
}

.title-container {
    position: relative;
    text-align: center;
}

.clear-item-btn {
    float: right;
}

.subtitle {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    width: max-content;
    margin: 50px;
    padding: 8px;
    border-radius: 8px;
}

.panel-heading {
    background-color: rgb(197, 44, 44);
    color: white;
}

#bottom-panel {
    border-radius: 0 0 8px 8px;
}

li{
    padding: 3px;
    list-style-type:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

#player-name-input {
    text-align: center;
    color: grey;
    font-weight: bold;
}

#media screen and (max-width: 992px) {
    
}

